.miItem{
    padding: 5px;
}
.card{
    border:4px solid rgba(0,0,0,.125)!important;
}

.miCard .card-body{
    padding: 1rem 0rem!important;
}

.miCard{
    padding: 2em 1em;
}

.miCard img{
    box-shadow: 0 0 6px -1px black;
}

.miCard h3{
    color: black;
    font-size: 1.5em;
}

.miCard a{
    text-decoration: none;
    color: #000;
}

.btn-ver-producto{
    width: 80%;
    margin: 1em auto;
}