.miItem{
    padding: 5px;
}
.card{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    height: 600px;
}

.miCard .card-body{
    padding: 1rem 0rem!important;
}

.miCard{
    padding: 2em 1em;
}

.miCard img{
    box-shadow: 0 0 6px -1px black;
}

.miCard h3{
    color: black;
    font-size: 1.5em;
}

.miCard a{
    text-decoration: none;
    color: #000;
}

.btn-ver-producto{
    width: 80%;
    margin: 1em auto;
}